<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dev House X Enquiry Received.</h1>

    <p>
    You have received a new enquiry from: <%= @enquiry.first_name %>,<%= @enquiry.last_name %> under <%= @enquiry.reason.upcase %>
    </p>

    <p>
    <strong>First name:</strong>
    <%= @enquiry.first_name %>
    </p>

    <p>
    <strong>Last name:</strong>
    <%= @enquiry.last_name %>
    </p>

    <p>
    <strong>Reason:</strong>
    <%= @enquiry.reason %>
    </p>

    <p>
    <strong>Phone:</strong>
    <%= @enquiry.phone %>

    <p>
    <strong>Email:</strong>
    <%= @enquiry.email %>
    </p>

    <p>
    <strong>Enquiry:</strong>
    <%= @enquiry.message %>
    </p>

  </body>
</html>
