  <div class="white">
    <div class="container">
      <h4>Let us know how we can help you</h4><hr>
      <div class="row">
        <div class="docs-example docs-example-forms">
          <%= form_for(@enquiry1) do |f| %>
            <div class="row">
              <div class="four columns">
                <label for="exampleNameInput">Your Name</label>
                <%= f.text_field :first_name, value:"John",size:"15" %>
                <%= f.text_field :last_name, value:"Smith",size:"15"%>
              </div>
              <div class="eight columns">
                <label for="exampleApptInput">Your reason for contacting us</label>
                <%= f.select(:reason, [['Development', 'Development'],
                                  ['Support', 'Support'],
                                  ['Hiring', 'Hiring'],
                                  ['Other', 'Other']],
                                   {:class => 'u-full-width' }
                                 ) %>
              </div>
            </div>
            <div class="row contact-icon-row">
              <h4>How would you like us to contact you?</h4>
            </div>
            <div class="row contact-icon">
              <div class="four columns">
                <button class="prefButton"><i class="fa fa-envelope"></i></button>
                <label for="exampleEmailInput">Your email</label>
                <%= f.text_field :email, value:"me@domain.com", class:"u-full-width" %>
              </div>
              <div class="four columns">
                <button class="prefButton"><i class="fa fa-phone"></i></button>
                <label for="examplePhoneInput">Your phone</label>
                <%= f.telephone_field :phone, class:"u-full-width" %>
              </div>
              <div class="four columns">
                <button class="prefButton"><i class="fa fa-user"></i></button>
                <label for="exampleApptInput">Preferred meeting day</label>
                <%= f.date_select :meeting_date %>
                <% date = DateTime.now.strftime("%Y%m%d") + "T010000Z"%>
                <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Example%20Event&dates=<%=date%>/<%=date%>&details=Dev%20House%20X%20Meeting
                &location=CoderFactory%2C%207%20Hudson%20St%2C%20Redfern%2C%20NSW" target="_blank">Add to gCal</a>
              </div>
            </div>
          </div>

          <label for="exampleMessage">Message</label>
          <%= f.text_area :message, class:"u-full-width" %>
          <label class="example-send-yourself-copy">
          <%= f.check_box :send_email %>
            <span class="label-body">Send a copy to yourself</span>
          </label>
          <div class="actions">
            <%= f.submit "Submit", class:"button-primary"%>
          </div>        
          <% end %>
      </div>
    </div>
  </div>