
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section class="serviceSec" id="menu2">
  <div class="white">
    <div class="container row">
      <h4>Our Sevices</h4>
      <div class="row">
        <div class="six columns">

          <h5>Support</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-life-ring"></i></div>
            </div>
            <div class="nine columns">
              <p>Long term or short project-based support.</p>
            </div>
          </div>

          <h5>Web Development</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-desktop"></i></div>
            </div>
            <div class="nine columns">
              <p>New builds or site upgrades including E-commerce, CMS etc.</p>
            </div>
          </div>
        </div>

        <div class="six columns">
          <h5>Mobile Apps</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-mobile fa-lg"></i></div>
            </div>
            <div class="nine columns">
              <p>IOS, Android.</p>
            </div>
          </div>

          <h5>Solution Building</h5>
          <div class="row">
            <div class="three columns">
              <div class="icon"><i class="fa fa-sitemap"></i></div>
            </div>
            <div class="nine columns">
              <p>Full end-to-end project execution, from idea to application and project engineering.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="breakPage"></div>

<section class="clientSec" id="menu3">
  <div class="container row">
    <div class="ghost">
      <h4>Some of our clients</h4>
      <div class="row clientPanel">
        <div class="six columns">
          <div class="image-wrapper">
            <h5 class="clientIcon"><a href="http://www.coderfactoryacademy.com" target="_blank"><img src="/assets/CoderFactoryLogo.png" class="image-logo"></a></h5>
          </div>
          <div class="image-wrapper">
          	<h5 class="clientIcon"><a href="http://www.mosh.us" target="_blank"><img src="/assets/mosh_logo.png" class="image-logo"></a></h5>
          </div>
        </div>
        <div class="six columns">
          <div class="image-wrapper">
            <h5 class="clientIcon"><a href="http://www.utrex.surge.sh" target="_blank" style="text-decoration: none; color:#FFF"><h1><strong>UTREX</strong></h1></a></h5>
          </div>
          <div class="image-wrapper">
            <h5 class="clientIcon"><a href="https://mighty-peak-8243.herokuapp.com" target="_blank" style="text-decoration: none;; color:#FFF"><h1><i>Kaleidoscope</i></h1></a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="breakPage"></div>


<section class="aboutSec" id="menu4">
  <div class="container row">
    <h4>About Us</h4>
    <div class="row">
      <div class="twelve columns">
        <p>Dev House X is a software development house providing small to medium customers (SMEs) a clear and definite path to reach their technology goals.</p>
        <p>Whether you are a startup launching a new idea or an existing business upgrading your services we make the journey simple, transparent and as enjoyable as possible.</p>
      </div>
    </div>

    <div class="row peoplePics">
      <div class="six columns feature">
        <div class="pop">
          <img src="/assets/raman.jpg"></a>
          <div class="hidden">
            <p>Raman has a career spanning education, executive recruitment and technology in a wide variety of industries including hospitality, security and IT. He lives between Australia and the USA and is passionate about opening and expanding the access to technology education world-wide.</p>
          </div>
        </div>
        <h5>Raman Nambiar</h5>
        <h6> Managing Director </h6>
      </div>

      <div class="six columns feature">
        <div class="pop">
          <img src="/assets/pete.jpg"></a>
          <div class="hidden">
            <p>Pete is passionate about technology and encouraging the community to be involved in creating their future. After a career at IBM, Pete now lives to teach coding and share his love of tech.</p>
          </div>
        </div>
        <h5>Peter Argent</h5>
        <h6> Academic Director </h6>
      </div>
    </div>


  </div>
</section>
<div class="breakPage"></div>

<section class="journeySec" id="menu5">
  <div class="white">
    <div class="container row">
      <h4>Your <span class="bold">Dev House X</span> journey</h4>
      <div class="row">

        <table>
          <tr>
            <td>Basic Chat</td>
            <td>Chat about your goals. Are we the right fit?</td>
          </tr>
          <tr>
            <td>Look in the Mirror</td>
            <td>Let us draft up a simple plan to meet your needs. Does this look like what you had in mind?</td>
          </tr>
          <tr>
            <td>Refinement</td>
            <td>Let's make sure the plans are 100% right.</td>
          </tr>
          <tr>
            <td>Price &amp Timeframe</td>
            <td>Let's agree on terms.</td>
          </tr>
          <tr>
            <td>Jump in</td>
            <td>Meet and kick off.</td>
          </tr>
          <tr>
            <td>Progress Reporting</td>
            <td>100% transparency through Project Management tools.</td>
          </tr>
          <tr>
            <td>Demo</td>
            <td>Everything looks on track.</td>
          </tr>
          <tr>
            <td>Feedback Loop</td>
            <td>Keep on developing.</td>
          </tr>
          <tr>
            <td>Final Release</td>
            <td>All looking good.</td>
          </tr>
          <tr>
            <td>Launch Stage</td>
            <td>Smiles all round.</td>
          </tr>

        </table>

      </div>
    </div>
  </div>
</section>
<div class="breakPage"></div>

<section class="contactSec" id="menu8">
  <div class="white">
    <div class="container row">
      <h4>Let us know how we can help you</h4>
      <div class="row">
        <div class="docs-example docs-example-forms">
          <%= form_for(@enquiry1) do |f| %>
            <div class="row">
              <div class="four columns">
                <label for="exampleNameInput">Your Name</label>
                <%= f.text_field :first_name, value:"John",size:"15" %>
                <%= f.text_field :last_name, value:"Smith",size:"16"%>
              </div>
              <div class="eight columns">
                <label for="exampleApptInput">Your reason for contacting us</label>
                <%= f.select :reason,  [['Development','Development'],['Support','Support'],['Hiring','Hiring'],['Other','Other']], {required: 'true', autofocus: 'true', class:'u-full-width'} %>
              </div>
            </div>
            <div class="row contact-icon-row">
              <h4>How would you like us to contact you?</h4>
            </div>
            <div class="row contact-icon">
              <div class="four columns">
                <button class="prefButton"><i class="fa fa-envelope"></i></button>
                <label for="exampleEmailInput">Your email</label>
                <%= f.text_field :email, value:"me@domain.com", class:"u-full-width" %>
              </div>
              <div class="four columns">
                <button class="prefButton"><i class="fa fa-phone"></i></button>
                <label for="examplePhoneInput">Your phone</label>
                <%= f.telephone_field :phone, class:"u-full-width" %>
              </div>
              <div class="four columns">
                <button class="prefButton"><i class="fa fa-user"></i></button>
                <label for="exampleApptInput">Preferred meeting day</label>
                <%= f.date_select :meeting_date %>
                <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Example%20Event&dates=20160201T010000Z/20160201T020000Z&details=Dev%20House%20X%20Meeting
                &location=CoderFactory%2C%207%20Hudson%20St%2C%20Redfern%2C%20NSW">Add to gCal</a>
              </div>
            </div>
          </div>

          <label for="exampleMessage">Message</label>
          <%= f.text_area :message, class:"u-full-width" %>
          <label class="example-send-yourself-copy">
            <input type="checkbox">
            <span class="label-body">Send a copy to yourself</span>
          </label>
          <div class="actions">
            <%= f.submit "Submit", class:"button-primary"%>
          </div>        
          <% end %>
      </div>
    </div>
  </div>
</section>
<div class="breakPage"></div>

<!--
<section class="contactSec" id="menu8">
  <div class="white">
    <div class="container row">
      <h4>Let us know how we can help you</h4>
      <div class="row">
        <div class="docs-example docs-example-forms">
          <form>
            <div class="row">
            
              <div class="four columns">
                <label for="exampleNameInput">Your name</label>
                <input class="u-full-width" type="text" placeholder="John Anderson" id="exampleNameInput">
              </div>
              <div class="eight columns">
                <label for="exampleApptInput">Your reason for contacting us</label>
                <select class="u-full-width" id="exampleApptInput">
                  <option value="Option 1">Development</option>
                  <option value="Option 2">Support</option>
                  <option value="Option 3">Hiring</option>
                  <option value="Option 3">Other</option>
                </select>
              </div>
            </div>
            <div class="row contact-icon-row">
              <h4>How would you like us to contact you?</h4>
            </div>
            <div class="row contact-icon">
              <div class="four columns">
                <button class="prefButton"><i class="fa fa-envelope"></i></button>
                <label for="exampleEmailInput">Your email</label>
                <input class="u-full-width" type="email" placeholder="johnanderson@testmail.com" id="exampleEmailInput">
              </div>
              <div class="four columns">
                <button class="prefButton"><i class="fa fa-phone"></i></button>
                <label for="examplePhoneInput">Your phone</label>
                <input class="u-full-width" type="number" placeholder="0400 123 456" id="examplePhoneInput">
              </div>
              <div class="four columns">
                <button class="prefButton"><i class="fa fa-user"></i></button>
                <label for="exampleApptInput">Preferred meeting day</label>
                <select class="u-full-width" id="exampleApptInput">
                  <option value="Option 1">Monday</option>
                  <option value="Option 2">Tuesday</option>
                  <option value="Option 3">Wednesday</option>
                  <option value="Option 3">Thursday</option>
                  <option value="Option 3">Friday</option>
                </select>
                <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Example%20Event&dates=20160201T010000Z/20160201T020000Z&details=Dev%20House%20X%20Meeting
                &location=CoderFactory%2C%207%20Hudson%20St%2C%20Redfern%2C%20NSW">Add to gCal</a>
              </div>
            </div>

          </div>

          <label for="exampleMessage">Message</label>
          <textarea class="u-full-width" placeholder="Hi Raman &hellip;" id="exampleMessage"></textarea>
          <label class="example-send-yourself-copy">
            <input type="checkbox">
            <span class="label-body">Send a copy to yourself</span>
          </label>
          <input class="button-primary" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</section>
-->

<section class="hiringSec" id="menu6">
  <div class="container row">
    <h4 class="ghost">We're Growing</h4>
    <div class="row">
      <div class="six columns ghostHire">
        <h5>Send us your details.
          <br>We'd love to meet you.</h5>
        <%= mail_to "info@devhousex.com", "<h5>info@devhousex.com</h5>".html_safe %>
      </div>
      <div class="six columns ghostHire">
        <h5>If you want to join a fun, flexible team of future focused developers, this is the place for you.</h5>
      </div>
    </div>
  </div>
</section>
<div class="breakPage"></div>

<section class="footer">
  <div class="container row copyright">
    © 2016 Made in Sydney Australia
  </div>
</section>

