<!DOCTYPE html>
<html>
<head>
  <title>DevHouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="topPanel">
	  <div class="container row">
	    <div class="four columns logo">
	      <%= link_to "<h4>Dev House X</h4>".html_safe, root_path %>
	      <a href="#menu1"></a>
	    </div>
	    <div class="eight columns nav">
	      <p>
	        <a href="#menu2">SERVICES</a>
	        <a href="#menu3">CLIENTS</a>
	        <a href="#menu4">ABOUT US</a>
	        <a href="#menu5">JOURNEY</a>
	        <a href="#menu6">HIRING</a>
	        <a href="#menu8">CONTACT US</a>
	        <a href="" style="color:white;">|</a>
	       	<%= link_to "RESOURCES", {:controller => "pages", :action => "resources"} %>
	      </p>
	    </div>
	  </div>
	</div>

	<% if request.env['PATH_INFO'] == '/' %>
		<section class="homeSec" id="menu1">
			<div class="container tagline" style="color:white">
			  <h3>Nature keeps it simple – so do we<br>
			  <i class="fa fa-chevron-down"></i>
			  <div class="scroll-down">Scroll down</div></h3>
			</div>
		</section>
	<% end %>

	<%= yield %>

</body>
</html>
